= simple_form_for [journey.ltn, journey] do |f|
  = f.input :name
  = f.input :disabled
  = f.input :origin_lat, as: :hidden
  = f.input :origin_lng, as: :hidden
  = f.input :dest_lat, as: :hidden
  = f.input :dest_lng, as: :hidden
  %div Origin point
  .edit_map{data: {form_prefix: "journey_origin"}}
  %div Destination point
  .edit_map{data: {form_prefix: "journey_dest"}}

  = f.button :submit
