.row
  .col-sm-1.d-flex.justify-content-center
    = simple_form_for [@ltn, journey], data: { turbo: true } do |f|
      = f.input :enabled, input_html: { onchange: "this.form.requestSubmit();" }, hint: false, label: false, as: :boolean
  .col-sm-5.text-center= journey.name&.truncate(100)
  .col-sm-3.text-center
    = link_to "[#{journey.id}]", [@ltn, journey]
  - if @show_journey_type
    .col-sm-2.text-center= journey.type
