%h1= "New Journey for #{@ltn.scheme_name}"

.container.mt-1
  = t "journey_run_info"


.container.mt-2
  = render "form", journey: @journey

%br

= link_to "Back to #{@ltn.scheme_name}", ltn_path(@ltn)
