%h1= "Journey for #{@ltn.scheme_name}"

.container-sm
  .row
    .col-sm-6
      = simple_form_for [@journey.ltn, @journey] do |f|
        = f.input :type, include_blank: false
        = f.button :submit

= "ID [#{@journey.id}]"
.show_map{data: @journey.map_data}

.my-4
  = link_to "Destroy this Journey", [@ltn, @journey], class: "btn btn-danger", method: :delete, confirm: true
